body {
    padding: 0;
    margin: 0;
    background-color: #9cb2c2 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameboard {
    width: 30em;
    height: 30em;
    background-color: #F9F5F6;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 10em;
    height: 10em;
    background-color: #DDE6ED;
    border: solid 0.2em black;
    box-sizing: border-box;
}