body {
    padding: 0;
    margin: 0;
    background-color: #86818e ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameboard {
    width: 30em;
    height: 30em;
    background-color: #F9F5F6;
    display: flex;
    flex-wrap: wrap;
    border: solid 0.2em  #3a2639;;
}

.square {
    width: 10em;
    height: 10em;
    background-color: #DDE6ED;
    border: solid 0.2em #3a2639;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
   align-items: center;
}

.circle {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: solid 0.5em salmon ;
    box-sizing: border-box;
  
}
.cross {
    width: 8em;
    height: 8em;
    position: relative;
    transform: rotate(45deg);
    box-sizing: border-box;
}

.cross:before, .cross:after {
    content: '';
    position: absolute;
    background-color: salmon;
}

.cross:before {
    left: 50%;
    width: 20%;
    margin-left: -10%;
    height: 100%;
}
.cross:after{
    top: 50%;
    height: 20%;
    margin-top: -10%;
    width: 100%;
}